{% extends 'layout.html' %}

{% block login %}
{% endblock %}

{% block content %}
<div class="container">

    <hr class="featurette-divider">
    <div class="featurette" id="about">
        <img class="featurette-image img-circle img-responsive pull-right" src="http://placehold.it/500x500">
        <p class="lead">
          <h2> </h2>
          <p>
            <h3>Gavin Estenssoro</h3>
            <li>Location: Denver, CO</li>
            <li>Email: gav.estenssoro@gmail.com</li>
            <li>Phone: 303.704.0533</li>
            <li><a href='https://www.linkedin.com/in/gavinest'>LinkedIn</a></li>
            <li><a href='https://github.com/gavinest'>Github</a></li>
          </p>
        </p>
    </div>
</div>

{% endblock%}
