{% extends 'layout.html' %}

{% block login %}

<!-- Header -->
<!-- <hr class="intro-divider"> -->
<h4>gav.estenssoro@gmail.com</h4>
<h4>Denver, CO</h4>
<ul class="list-inline intro-social-buttons">
    <li>
        <a href="https://github.com/gavinest" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
    </li>
    <li>
        <a href="https://www.linkedin.com/in/gavinest" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">Linkedin</span></a>
    </li>
</ul>

{% endblock%}

{% block content %}
{% endblock %}
