{% extends 'layout.html' %}

{% block login %}
<div class="container">
  <br>
  <h4>Login:</h4>
  <br>
  <form action="" class="form-inline" method="post">
    <input type="text" class="form-control" placeholder="UserID" name="user_id" value="{{request.form.user_id}}">
    <input class="btn btn-default" type="submit" value="Recommend">
  </form>
</div>

<h2><font color='red'>{%if error %} Invalid UserID. <a href='/register'>Register Here</a>{% endif %}</font></h2>

<hr class="intro-divider">

<h3> New User? </h3>
<h3>Consider <a href='/register'>registering</a> for personalized recommendations.</h3>
<h4> Meanwhile, see how it works.</h4>
<p>(Enter one of the UserIDs below)</p>
  <p>
    {% for user in random_users %}
    <ul>{{user}}</ul>
    {% endfor %}
  </p>

{% endblock %}
{% block content %}
{% endblock %}
