{% extends 'rec_base.html' %}

{% block content %}
<hr>

<!-- Page Content -->
<div class="container">

<!-- Page Header -->
<div class="row">
  <div class="col-lg-12">
      <h1 class="page-header">Your Recommended Recipes
          <small>Bon Appetite!</small>
      </h1>
  </div>
</div>

<!-- /.row -->

<!-- Projects Row -->
<div class="row">
    <div class="col-md-4 portfolio-item">
        <a href="/recipe/{{cards[0]['recipe_id']}}">
            <img class="img-responsive" src={{cards[0]['picture'][0]}} alt="">
        </a>
        <h3>
            <a href="#">{{cards[0]['name']}}</a>
        </h3>
        <p>Average Rating: {{cards[0]['rating'][0]}} </p>
        <p>Number of Reviews: {{cards[0]['num_reviews'][0]}}</p>
    </div>
    <div class="col-md-4 portfolio-item">
        <a href="/recipe/{{cards[1]['recipe_id']}}">
            <img class="img-responsive" src={{cards[1]['picture'][0]}} alt="">
        </a>
        <h3>
            <a href="#">{{cards[1]['name']}}</a>
        </h3>
        <p>Average Rating: {{cards[1]['rating'][0]}} </p>
        <p>Number of Reviews: {{cards[1]['num_reviews'][0]}}</p>
    </div>
    <div class="col-md-4 portfolio-item">
        <a href="/recipe/{{cards[2]['recipe_id']}}">
            <img class="img-responsive" src={{cards[2]['picture'][0]}} alt="">
        </a>
        <h3>
            <a href="#">{{cards[2]['name']}}</a>
        </h3>
        <p>Average Rating: {{cards[2]['rating'][0]}} </p>
        <p>Number of Reviews: {{cards[2]['num_reviews'][0]}}</p>
    </div>
</div>
<!-- /.row -->

<hr>

<!-- Projects Row -->
<div class="row">
    <div class="col-md-4 portfolio-item">
        <a href="/recipe/{{cards[3]['recipe_id']}}">
            <img class="img-responsive" src={{cards[3]['picture'][0]}} alt="">
        </a>
        <h3>
            <a href="#">{{cards[3]['name']}}</a>
        </h3>
        <p>Average Rating: {{cards[3]['rating'][0]}} </p>
        <p>Number of Reviews: {{cards[3]['num_reviews'][0]}}</p>
    </div>
    <div class="col-md-4 portfolio-item">
        <a href="/recipe/{{cards[4]['recipe_id']}}">
            <img class="img-responsive" src={{cards[4]['picture'][0]}} alt="">
        </a>
        <h3>
            <a href="#">{{cards[4]['name']}}</a>
        </h3>
        <p>Average Rating: {{cards[4]['rating'][0]}} </p>
        <p>Number of Reviews: {{cards[4]['num_reviews'][0]}}</p>
    </div>
    <div class="col-md-4 portfolio-item">
        <a href="/recipe/{{cards[5]['recipe_id']}}">
            <img class="img-responsive" src={{cards[5]['picture'][0]}} alt="">
        </a>
        <h3>
            <a href="#">{{cards[5]['name']}}</a>
        </h3>
        <p>Average Rating: {{cards[5]['rating'][0]}} </p>
        <p>Number of Reviews: {{cards[5]['num_reviews'][0]}}</p>
    </div>
</div>

<hr>
<!-- Projects Row -->
<div class="row">
    <div class="col-md-4 portfolio-item">
        <a href="/recipe/{{cards[6]['recipe_id']}}">
            <img class="img-responsive" src={{cards[6]['picture'][0]}} alt="">
        </a>
        <h3>
            <a href="#">{{cards[6]['name']}}</a>
        </h3>
        <p>Average Rating: {{cards[6]['rating'][0]}} </p>
        <p>Number of Reviews: {{cards[6]['num_reviews'][0]}}</p>
    </div>
    <div class="col-md-4 portfolio-item">
        <a href="/recipe/{{cards[7]['recipe_id']}}">
            <img class="img-responsive" src={{cards[7]['picture'][0]}} alt="">
        </a>
        <h3>
            <a href="#">{{cards[7]['name']}}</a>
        </h3>
        <p>Average Rating: {{cards[7]['rating'][0]}} </p>
        <p>Number of Reviews: {{cards[7]['num_reviews'][0]}}</p>
    </div>
    <div class="col-md-4 portfolio-item">
        <a href="/recipe/{{cards[8]['recipe_id']}}">
            <img class="img-responsive" src={{cards[8]['picture'][0]}} alt="">
        </a>
        <h3>
            <a href="#">{{cards[8]['name']}}</a>
        </h3>
        <p>Average Rating: {{cards[8]['rating'][0]}} </p>
        <p>Number of Reviews: {{cards[8]['num_reviews'][0]}}</p>
    </div>
</div>
<!-- /.row -->

<hr>

</div>
{% endblock %}
