{% extends 'layout.html' %}

{% block login %}
{% endblock %}

{% block content %}
<h3 class="featurette-heading">Recommended Recipes:
    <span class="text-muted"></span>
</h3>
{% for card in cards %}
<div class="container">
    <hr class="featurette-divider">
    <h3 class="featurette-heading">{{card['name']}}
        <span class="text-muted"></span>
    </h3>
    <div class="featurette">
        <img class="featurette-image img-circle img-responsive pull-right" src = {% if card['picture'] %} {{card['picture'][0]}} {% endif %}>
        <p class="lead">
          <h3>{{recipe_name}}</h3>
          <h4>Ingredients:</h4>
          {% for i in card['ingredients'] %}
          <li>{{i}}</li>
          {% endfor %}
          <h4>Directions:</h4>
          {% for i in card['directions'] %}
          <li>{{i}}</li>
          {% endfor %}
        </p>
    </div>
</div>
{% endfor %}
<!-- /.container -->

{% endblock %}
